<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploads With Multer</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <div>
          <a href="/">
            <img src="logo.png" alt="" />
            <span class="sr-only">Home page</span>
          </a>
        </div>
        <ul>
          <li>
            <a href="#" role="button">With Multer</a>
          </li>
          <li>
            <a href="#" role="button">No Package</a>
          </li>
        </ul>
      </nav>
    </header>
    {{{body}}}
    <footer>
      <p>
        Made for fun
        <a href="https://github.com/niles87">niles87
          <span class="sr-only">- github profile</span></a>
      </p>
    </footer>
  </body>

</html>