* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  height: 80px;
  width: 100vw;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

nav > div {
  height: 100%;
}

nav > ul {
  display: flex;
  height: 100%;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  text-decoration: none;
}

a[role="button"] {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background: #0066ff;
  color: white;
}

ul li {
  margin: 10px;
  padding: 10px;
}

a .logo {
  width: 100%;
  height: 100%;
  font-size: 50px;
  color: #222222;
}

main {
  width: 90vw;
  margin: 0 auto;
  background-color: #eeeeee;
}

main h1 {
  text-align: center;
}

section {
  height: calc(90vh - 80px);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sr-only {
  position: absolute;
  left: -100000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#dropZone {
  width: 75%;
  height: 200px;
  border: 5px groove #b8bec4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #c9c9c9;
  margin: 0 auto;
}

#dropZone p {
  text-align: center;
}
